<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <title>Document</title>
</head>
<body>
     <header class="land-header">
        <div class="land-contHeader">
          <section class="land-contHeader__oneSection">
            <img class="land-iconComputer" src='/images/iconoComp.png' alt="icono" />
            <p class="land-text">Cool Project Station</p>
          </section>
          <img class="land-logoCool" src='/images/station.png' alt="logo" />
        </div>

        <div class="land-header__text">
          <h1 class="land-header__title"><Cool Project Station></h1>
          <h2 class="land-header__subtitle">
            Escaparate en línea para recoger ideas a través de la tecnología.
          </h2>
          <form class="land-header__form">
            <button class="land-btnNewLand">
              <a class="btnNewLand" href="/">
                <i class="link-arrow fa-solid fa-arrow-left"></i>
                PRINCIPAL
              </a>
            </button>
            <button class="land-btnNew">
              <a class="btnNewTxt" href="/CreateProject">
                NUEVO PROYECTO
              </a>
            </button>
          </form>
        </div>
      </header>
      <main class="main">
        <section class="preview">
          <div class="profile">
            <img
              class="image"
              src="<%= photo %>"
              alt="photo_project"
            />
          </div>
          <section class="autor">
            <section class="info-project">
              <p class="subtitle">Personal Project Card</p>
              <hr class="line" />

              <h2 class="title-preview"><%= name %></h2>
              <p class="slogan"><%= slogan %></p>
              <p class="desc">
                <%= description %>
              </p>
              <section class="technologies">
                <p class="text"><%= technologies %></p>
                <div class="div_icon">
                  <a href="<%= repo %>" target="_blank">
                    <img
                      src='/images/iconogithub.png'
                      title="enlace a repositorio"
                      alt="icono repositorio"
                      class="icon"
                    />
                  </a>
                  <a href="<%= demo %>" target="_blank">
                    <img
                      src='/images/iconoweb.png'
                      title="enlace a web"
                      alt="icono web"
                      class="icon"
                    />
                  </a>
                </div>
              </section>
            </section>

            <section class="info-autor">
              <div class="img">
                <div class="profile">
                  <img
                    class="img"
                    src="<%= image %>"
                    alt="img"
                  ></img>
                </div>
              </div>
              <p class="job"> <%= job %></p>
              <p class="name"> <%= autor %></p>
            </section>
          </section>
        </section>
      </main>
      <footer class="land-footer">
        <img class="land-logoCool" src='/images/station.png' alt="icono" />
        <span class="land-copy">&copy Module-3: Project Team 4</span>
      </footer>
</body>
</html>