<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <title>Document</title>
</head>
<body>
     <header className="land-header">
        <div className="land-contHeader">
          <section className="land-contHeader__oneSection">
            <img className="land-iconComputer" src={iconComputer} alt="icono" />
            <p className="land-text">Cool Project Station</p>
          </section>
          <img className="land-logoCool" src={station} alt="logo" />
        </div>

        <div className="land-header__text">
          <h1 className="land-header__title"><Cool Project Station></h1>
          <h2 className="land-header__subtitle">
            Escaparate en línea para recoger ideas a través de la tecnología.
          </h2>
          <form className="land-header__form">
            <button className="land-btnNewLand">
              <Link className="btnNewLand" to="/">
                <i className="link-arrow fa-solid fa-arrow-left"></i>
                PRINCIPAL
              </Link>
            </button>
            <button className="land-btnNew">
              <Link className="btnNewTxt" to="/CreateProject">
                NUEVO PROYECTO
              </Link>
            </button>
          </form>
        </div>
      </header>
      <main className="main">
        <section className="preview">
          <div className="profile">
            <img
              className="image"
              src="<%= photo %>"
              alt="photo_project"
            />
          </div>
          <section className="autor">
            <section className="info-project">
              <p className="subtitle">Personal Project Card</p>
              <hr className="line" />

              <h2 className="title-preview"><%= name %></h2>
              <p className="slogan"><%= slogan %></p>
              <p className="desc">
                <%= description %>
              </p>
              <section className="technologies">
                <p className="text"><%= technologies %></p>
                <div className="div_icon">
                  <a href="./" target="_blank">
                    <img
                      src="<%= repo %>"
                      title="enlace a repositorio"
                      alt="icono repositorio"
                      className="icon"
                    />
                  </a>
                  <a href="./" target="_blank">
                    <img
                      src="<%= demo %>"
                      title="enlace a web"
                      alt="icono web"
                      className="icon"
                    />
                  </a>
                </div>
              </section>
            </section>

            <section className="info-autor">
              <div className="img">
                <div className="profile">
                  <img
                    className="img"
                    src="<%= image %>"
                    alt="img"
                  ></img>
                </div>
              </div>
              <p className="job"> <%= job %></p>
              <p className="name"> <%= autor %></p>
            </section>
          </section>
        </section>
      </main>
      <footer className="land-footer">
        <img className="land-logoCool" src={station} alt="icono" />
        <span className="land-copy">&copy Module-3: Project Team 4</span>
      </footer>
</body>
</html>